:root {
  --c-brand: #D50000;
  --c-brand-light: #ff0000;
}

html.dark {
  --c-brand: #D50000;
  --c-brand-light: #ff0000;

  --c-bg: #000;
}

.site-name {
  display: none;
}

.external-link.action-button.secondary {
  span {
    display: none;
  }
}
